.login {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 40px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: antiquewhite;
    padding: 30px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
  }
  
  .login-submit{
      background-color: brown;
      color:antiquewhite;
      border-radius: 10px;
      border: none;
      padding: 4px;
  }
  .login-submit:hover{
      background-color: antiquewhite;
      color:brown;
      border-radius: 10px;
      box-shadow: 0px 0px 10px brown;
      border:none;
      padding: 4px;
  }